   html, body {
       height: 100%;
       width: 100%;
       background:#A10A04;
   }

   .navbar {
       padding: .8rem;
   }

   .navbar-nav li {
       padding-right: 30px;
   }

   .nav-link {
       font-size: 1.5em;
   }

   .carousel-inner img {
       width: 100%;
       height: 100%;
   }

   .padding {
       padding-bottom: 2rem;
   }

   .fa-twitch {
       color: #6441a5;
       font-size: 3em;
       margin-right: 10px;
   }

   .fa-youtube {
       color: #c4302b;
       font-size: 3em;
       margin-left: 10px;
   }

   .fa-twitter {
        color: #38A1F3;
        font-size: 3rem;
        margin-left: 20px;
   }

   .fa-youtube:hover, .fa-twitch:hover, .fa-twitter:hover {
       color: lightgray;
   }

   footer {
       background-color: #343a40;
        color: #d5d5d5;
        padding-top: 2rem;    
   }

   hr.light {
       border-top: 1px solid #d5d5d5;
       width: 75%;
       margin-top: .8rem;
       margin-bottom: 1rem;
   }

   .calander {
       margin-top: 2rem;
   }

   .google {
       height: 60rem;
       width: 80rem;
   }

   .card {
       margin-bottom: 2rem;
   }

   .welcome {
       color: white;
   }

   .btn {
       margin-top: 1rem;
   }

   .twitch {
      min-height: 700px; 
      margin-top: 2rem;
   }